[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/pavelmazikin/application
ExecStart=/home/pavelmazikin/application/venv/bin/python run.py

[Install]
WantedBy=multi-user.target