[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/app
ExecStart=/home/app/venv/bin/python run.py

[Install]
WantedBy=multi-user.target